.App {
  min-height: 100vh;
  overflow: hidden;
}

.App .logo {
  color: rgba(255, 255, 255, 0.87);
  font-weight: 600;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  
}